* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

/*===Hide scrollbar===*/
body::-webkit-scrollbar {
    width: 0 !important
}

body {
    overflow: -moz-scrollbars-none;
}

body {
    -ms-overflow-style: none;
}

/*===Hide scrollbar===*/

.first {
    width: 100%;
    height: 100vh;
    background-image: url("img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    font-family: sans-serif;
    position: relative;
}


.secound {
    background-image: url("img/bg.jpg");
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
}

.boxes {
    margin: 0;
    padding: 30px 0;
    text-align: center;
    border: 1px solid black;
}

.name {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: white;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    margin: 70% auto 0 auto;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    text-shadow: .1rem .1rem .8rem black;
}

.content{
    height: 100vh;
}

.content .row{
    height: 50%;
}

.form-box {
    overflow: hidden;
    width: 430px;
    height: 520px;
    /*background: rgba(37, 52, 95, 0.83);*/
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.form-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.form-box input {
    width: 100%;
    margin-bottom: 20px;
}

.form-box input[type="text"] {

    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.form-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.caption {
    overflow: hidden;
    font-size: medium;
    position: absolute;
    top: 30%;
    width: 100%;
    color: white;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    padding-bottom: 1rem;
}

.caption h2 {
    padding-bottom: 1rem;
}

.caption h3 {
    padding-bottom: 1rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    padding: .6rem 1.3rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
}

.form-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

/*===ScrollBack button===*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: rgba(37, 52, 95, 0.83);
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    /*font-size: 22px; !* Increase font size *!*/
    width: 50px;
    height: 50px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*===ScrollBack button===*/

@media only screen and (max-width: 454px) {
    .form-box {
        width: 100%;
    }
}

@media only screen and (max-width: 374px) {
    .caption h1 {
        font-size: 2.5rem;
    }
}

