$body-bg-color: #7b90bb87

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Montsrrat', sans-serif

body
  background-color: $body-bg-color

nav
  margin-bottom: 40px
  #login_name
    margin-left: 10px

main
  margin-top: 50px

#message, #message2
  display: none

.card-body
  padding: 40px 60px
  

@media (min-width: 992px)
  .navbar-expand-lg
    justify-content: space-between
