* {
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Montsrrat", sans-serif;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body .scrollTop {
  display: none;
}
body::-webkit-scrollbar {
  width: 0 !important;
}

.first {
  width: 100%;
  height: 100vh;
  background-image: url(../img/kul3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  position: relative;
}
.first .language {
  position: absolute;
  top: 20px;
  right: 70px;
}
.first .language a {
  margin-left: 10px;
  color: lightgray;
}
.first .language a:hover {
  cursor: pointer;
  color: aliceblue;
  border-bottom: 1px solid aliceblue;
}

.caption {
  overflow: hidden;
  font-size: medium;
  position: absolute;
  top: 30%;
  width: 100%;
  color: white;
  text-shadow: 0.3rem 0.3rem 0.4rem black;
}
.caption h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
  animation-delay: 0.8s;
  animation-name: bounceInUp;
}
.caption h2 h3 {
  padding-bottom: 1rem;
}
.caption h2 {
  animation-name: bounceInUp;
  animation-delay: 0.5s;
}
.caption h3 {
  animation-name: bounceInUp;
  animation-delay: 1.1s;
}
.caption .btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  padding: 0.6rem 1.3rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  animation-name: bounceInDown;
  animation-delay: 1.3s;
  margin-top: 20px;
}
.caption .btn-lg:hover {
  background: #e9f8ff;
  text-shadow: none;
}

.content {
  background-color: #051c3c;
  padding-bottom: 55px;
  overflow: hidden;
}
.content .row {
  overflow: hidden;
}
.content .space {
  width: 100%;
  height: 55px;
}

.title {
  position: relative;
  text-align: center;
  padding: 50px 50px 50px 50px;
}
.title h2 {
  overflow: hidden;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.boxes {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.boxes .boxes-icon {
  text-align: center;
  width: 30%;
  float: left;
  filter: brightness(0) invert(0.3);
}
.boxes .boxes-icon img {
  width: 80px;
}
.boxes .boxes-content {
  width: 60%;
  float: right;
  color: white;
  text-shadow: 0 0.1rem 0.4rem black;
}
.boxes .boxes-content p {
  margin-bottom: 3px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.gallery h2 {
  color: #002752;
  text-shadow: none;
}
.gallery .row {
  overflow: hidden;
  margin: 15px 0;
}
.gallery .boxes-img {
  text-align: center;
  height: 220px;
  margin: 10px 0;
}
.gallery .boxes-img:hover {
  transform: scale(1.1);
}
.gallery img {
  max-height: 100%;
  max-width: 100%;
  transition: 0.5s;
}
.gallery img:hover {
  cursor: pointer;
}

.secound {
  background-image: url(../img/bg2.jpg);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secound::before {
  content: "";
}
.secound .form-box {
  overflow: hidden;
  width: 430px;
  height: 620px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 50px 30px;
  border-radius: 10px;
}
.secound .form-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.secound .form-box input {
  width: 100%;
  margin-bottom: 20px;
}
.secound .form-box input[type=text] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 1rem;
}
.secound .form-box input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: white;
  font-size: 1.1rem;
  border-radius: 2rem;
  margin-top: 20px;
}
.secound .form-box input[type=submit]:hover {
  cursor: pointer;
  background: #39dc79;
  color: black;
}
.secound .form-box input[type=radio] {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.secound .form-box select {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  color: white;
  font-size: 1rem;
}
.secound .form-box select:invalid {
  color: gray;
}
.secound .form-box select option {
  font-size: 1.2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.secound .form-box select option:checked {
  background-color: gray;
}
.secound .radio-group {
  width: 100%;
  display: flex;
  align-items: center;
}
.secound .radio-group label {
  font-weight: normal;
}

.footer {
  height: 50px;
  width: 100vw;
  clear: both;
  background: #222;
  color: #555555;
  text-align: center;
  vertical-align: center;
  line-height: 50px;
  border-top: 1px solid darkblue;
  overflow: hidden;
}

@media only screen and (max-width: 374px) {
  .caption h1 {
    font-size: 2.3rem;
  }

  .content h2 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 454px) {
  .secound .form-box {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .boxes {
    margin: 16px 0;
  }

  .space {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .boxes {
    margin: 16px 0;
  }

  .space {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  body .scrollTop {
    display: inline;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: rgba(37, 52, 95, 0.83);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  #myBtn img {
    max-width: 90%;
    max-height: 90%;
    filter: brightness(0) invert(1);
  }
  #myBtn:hover {
    background-color: #555;
  }
}

/*# sourceMappingURL=style.css.map */
